* {
    font-family: "Changa";
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.openingPage {
    width: 100%;
    height: 100vh;
    color: rgb(184, 181, 181);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .9)), url("images/pexels-polina-kovaleva-5717411.jpg");
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appName {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.sectionNav {
    display: flex;
    align-items: center;
}

.navList {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 25px;
}

.navList li {
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}

.navList li::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    background-color: #333333;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}

.navList li:hover::after {
    width: 100%;
}

.navList li.active {
    color: rgb(117, 114, 114);
    font-weight: 700;
    font-size: 20px;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10%;
}

.intro h1 {
    font-family: "Lucida Sans Unicode";
    font-size: 2.3em;
    letter-spacing: 1.7px;
    line-height: 60px;
}

.intro p {
    margin-top: -10px;
    font-size: 18px;
    letter-spacing: 1px;
}


#getStarted {
    text-decoration: none;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid rgb(90, 88, 88);
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 15px;
    letter-spacing: 0.7px;
    transition: all 0.3s;
}

#getStarted:hover {
    background-color: rgba(0, 0, 0, .9);
}

nav #getStarted {
    margin-left: 20px;
}

.intro #getStarted {
    width: fit-content;
}


#logIn {
    width: fit-content;
}

.about {
    width: 100%;
    height: 100vh;
    background-color: #dadada;
}

.about .head {
    text-align: center;
    padding-top: 10px;
}

.about h2 {
    font-family: "Lucida Sans Unicode";
    font-size: 2.4em;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    margin-top: 30px;
}

.logo {
    width: 30%;
    border-radius: 50%;
    margin-left: 80px;
}

.openingWords {
    width: 50%;
    font-size: 20px;
}

.openingWords .large {
    font-family: "Garet";
    font-size: 25px;
    font-weight: 700;
}

.concluding {
    width: 90%;
    font-size: 19px;
    margin: 0 auto;
    margin-top: 25px;
}

.services {
    width: 100%;
    height: 100vh;
    background-color: #4b4a4a;
}